<a href="https://colab.research.google.com/github/Nisa-a/victims-crime-dashboard/blob/main/cleaned_data_crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("/content/victims-of-crime-data.csv", encoding='latin-1')
df.head()

,Measure,Ethnicity,Ethnicity_type,Time,Time_type,Geography,Geography_type,Geography code,Gender,Age,Socio-economic classification,Household income,Value,Value_type,Sample size,Standard Error,Lower CI,Upper CI
0,Proportion of adults who were victims of all C...,All,All,2013/14,Year ending March,England and Wales,ONS geography code,K04000001,All,16+,All,All,17.0,%,35371,0.199790931,16.54,17.48329817
1,Proportion of adults who were victims of all C...,All,All,2013/14,Year ending March,England and Wales,ONS geography code,K04000001,All,16-24,All,All,25.1,%,2790,0.820736685,23.16,27.01789164
2,Proportion of adults who were victims of all C...,All,All,2013/14,Year ending March,England and Wales,ONS geography code,K04000001,All,25-34,All,All,21.0,%,5254,0.561916822,19.68,22.32082154
3,Proportion of adults who were victims of all C...,All,All,2013/14,Year ending March,England and Wales,ONS geography code,K04000001,All,35-44,All,All,19.8,%,5826,0.52167067,18.53,20.98609175
4,Proportion of adults who were victims of all C...,All,All,2013/14,Year ending March,England and Wales,ONS geography code,K04000001,All,45-54,All,All,17.4,%,6087,0.486138089,16.28,18.56337501

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Measure                        1183 non-null   object
 1   Ethnicity                      1183 non-null   object
 2   Ethnicity_type                 1183 non-null   object
 3   Time                           1183 non-null   object
 4   Time_type                      1183 non-null   object
 5   Geography                      1183 non-null   object
 6   Geography_type                 1183 non-null   object
 7   Geography code                 1183 non-null   object
 8   Gender                         1183 non-null   object
 9   Age                            1183 non-null   object
 10  Socio-economic classification  1183 non-null   object
 11  Household income               1183 non-null   object
 12  Value                          1183 non-null   object
 13  Value_type                     1183 non-null   object
 14  Sample size                    1183 non-null   object
 15  Standard Error                 1183 non-null   object
 16  Lower CI                       1183 non-null   object
 17  Upper CI                       1183 non-null   object
dtypes: object(18)
memory usage: 166.5+ KB

In [3]:
df.shape

(1183, 18)

In [4]:
df.describe()

,Measure,Ethnicity,Ethnicity_type,Time,Time_type,Geography,Geography_type,Geography code,Gender,Age,Socio-economic classification,Household income,Value,Value_type,Sample size,Standard Error,Lower CI,Upper CI
count,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183
unique,1,30,4,9,2,53,1,52,4,8,7,8,198,1,634,754,668,754
top,Proportion of adults who were victims of all C...,White,ONS 2011 5 + 1,"2014/15, 2015/16 and 2016/17",3 years combined,England and Wales,ONS geography code,K04000001,All,16+,All,All,?,%,7,?,?,?
freq,1183,256,750,481,927,455,1183,455,1155,1085,1099,1120,312,1183,18,312,312,312

In [5]:
df.describe(include='object')

,Measure,Ethnicity,Ethnicity_type,Time,Time_type,Geography,Geography_type,Geography code,Gender,Age,Socio-economic classification,Household income,Value,Value_type,Sample size,Standard Error,Lower CI,Upper CI
count,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183
unique,1,30,4,9,2,53,1,52,4,8,7,8,198,1,634,754,668,754
top,Proportion of adults who were victims of all C...,White,ONS 2011 5 + 1,"2014/15, 2015/16 and 2016/17",3 years combined,England and Wales,ONS geography code,K04000001,All,16+,All,All,?,%,7,?,?,?
freq,1183,256,750,481,927,455,1183,455,1155,1085,1099,1120,312,1183,18,312,312,312

In [6]:
df.isnull().sum()

Measure                          0
Ethnicity                        0
Ethnicity_type                   0
Time                             0
Time_type                        0
Geography                        0
Geography_type                   0
Geography code                   0
Gender                           0
Age                              0
Socio-economic classification    0
Household income                 0
Value                            0
Value_type                       0
Sample size                      0
Standard Error                   0
Lower CI                         0
Upper CI                         0
dtype: int64

In [7]:
df['Measure'].unique() #drop

array(['Proportion of adults who were victims of all CSEW crime (excluding fraud and computer misuse)'],
      dtype=object)

In [8]:
df['Ethnicity'].unique()

array(['All', 'Asian', 'Black', 'White British', 'White Irish',
       'Gypsy or Irish Traveller', 'Any other White background',
       'Mixed White and Black Caribbean', 'Mixed White and Black African',
       'Mixed White and Asian',
       'Any other Mixed/Multiple ethnic background', 'Indian',
       'Pakistani', 'Bangladeshi', 'Chinese',
       'Any other Asian background', 'Black African', 'Black Caribbean',
       'Any other Black background', 'Arab', 'Any other ethnic group',
       'Mixed', 'Other ', 'White', 'Mixed/Multiple',
       'Asian/Asian British', 'Black/African/Caribbean/Black British',
       'Other', 'All other Ethnic groups', 'Gypsy or Irish traveller'],
      dtype=object)

In [9]:
df['Ethnicity_type'].unique() #drop

array(['All', 'ONS 2011  5 + 1', 'ONS 2011 18 + 1', 'White & Other'],
      dtype=object)

In [10]:
df['Time'].unique() #filter for only single years.

array(['2013/14', '2014/15', '2014/15, 2015/16 and 2016/17', '2015/16',
       '2016/17', '2017/18', '2017/18, 2018/19 and 2019/20', '2018/19',
       '2019/20'], dtype=object)

In [11]:
df['Time_type'].unique() #drop

array(['Year ending March', '3 years combined'], dtype=object)

In [12]:
df['Geography'].unique()

array(['England and Wales', 'North East', 'Cleveland', 'Durham',
       'Northumbria', 'North West', 'Cheshire', 'Cumbria',
       'Greater Manchester', 'Lancashire', 'Merseyside',
       'Yorkshire and the Humber', 'Humberside', 'North Yorkshire',
       'South Yorkshire', 'West Yorkshire', 'East Midlands', 'Derbyshire',
       'Leicestershire', 'Lincolnshire', 'Northamptonshire',
       'Nottinghamshire', 'West Midlands Region', 'Staffordshire',
       'Warwickshire', 'West Mercia', 'West Midlands', 'East',
       'Bedfordshire', 'Cambridgeshire', 'Essex', 'Hertfordshire',
       'Norfolk', 'Suffolk', 'London',
       'City of London / Metropolitan Police', 'South East', 'Hampshire',
       'Kent', 'Surrey', 'Sussex', 'Thames Valley', 'South West',
       'Avon and Somerset', 'Devon and Cornwall', 'Dorset',
       'Gloucestershire', 'Wiltshire', 'Wales', 'Dyfed-Powys', 'Gwent',
       'North Wales', 'South Wales'], dtype=object)

In [13]:
df['Geography_type'].unique() #drop

array(['ONS geography code'], dtype=object)

In [14]:
df['Geography code'].unique() #drop

array(['K04000001', 'E12000001', 'E23000013', 'E23000008', 'E23000007',
       'E12000002', 'E23000006', 'E23000002', 'E23000005', 'E23000003',
       'E23000004', 'E12000003', 'E23000012', 'E23000009', 'E23000011',
       'E23000010', 'E12000004', 'E23000018', 'E23000021', 'E23000020',
       'E23000022', 'E23000019', 'E12000005', 'E23000015', 'E23000017',
       'E23000016', 'E23000014', 'E12000006', 'E23000026', 'E23000023',
       'E23000028', 'E23000027', 'E23000024', 'E23000025', 'E12000007',
       'E12000008', 'E23000030', 'E23000032', 'E23000031', 'E23000033',
       'E23000029', 'E12000009', 'E23000036', 'E23000035', 'E23000039',
       'E23000037', 'E23000038', 'W92000004', 'W15000004', 'W15000002',
       'W15000001', 'W15000003'], dtype=object)

In [15]:
df['Gender'].unique()

array(['All', 'Male', 'Female', 'Male '], dtype=object)

In [16]:
df['Age'].unique()

array(['16+', '16-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75+'],
      dtype=object)

In [17]:
df['Socio-economic classification'].unique()

array(['All', 'Managerial and professional occupations',
       'Intermediate occupations', 'Routine and manual occupations',
       'Never worked and long-term unemployed', 'Full time students',
       'Not classified'], dtype=object)

In [18]:
df['Household income'].unique()

array(['All', 'Less than £10,000', '£10,000 to less than £20,000',
       '£20,000 to less than £30,000', '£30,000 to less than £40,000',
       '£40,000 to less than £50,000', '£50,000 or more',
       'No income stated/Not enough information provided '], dtype=object)

In [19]:
df['Value'].unique()

array(['17.0', '25.1', '21.0', '19.8', '17.4', '13.5', '10.2', '6.0',
       '16.7', '17.2', '16.3', '16.1', '17.6', '23.6', '11.3', '16.5',
       '15.8', '18.2', '19.2', '15.9', '18.6', '16.9', '20.6', '?',
       '29.0', '23.5', '20.3', '20.4', '17.1', '14.6', '15.2', '16.0',
       '17.3', '9.9', '27.2', '13.8', '16.8', '22.1', '20.5', '18.9',
       '12.5', '9.0', '5.9', '15.3', '15.5', '18.0', '13.6', '14.9',
       '17.5', '18.1', '14.8', '29.1', '27.9', '22.8', '14.4', '21.9',
       '11.6', '11.4', '13.9', '18.7', '14.7', '27.6', '10.3', '15.7',
       '13.2', '14.0', '11.7', '13.3', '10.9', '9.2', '14.1', '16.2',
       '13.1', '15.0', '12.7', '15.4', '14.2', '13.7', '12.2', '10.8',
       '12.8', '14.3', '8.9', '19.9', '23.1', '11.5', '27.3', '24.5',
       '24.4', '29.2', '25.5', '18.3', '18.4', '18.8', '10.7', '22.6',
       '26.1', '11.2', '21.7', '5.8', '26.6', '17.7', '12.3', '12.0',
       '21.3', '25.0', '22.7', '20.9', '21.6', '32.8', '21.4', '7.1',
       '3.9', '19.0', '19.1', '24.7', '25.9', '19.7', '16.6', '22.4',
       '16.4', '18.5', '31.3', '21.5', '8.4', '5.3', '26.5', '24.9',
       '23.0', '22.2', '2.8', '5.5', '7.2', '22.0', '7.6', '20.8', '25.2',
       '19.6', '14.5', '6.7', '10.5', '20.1', '8.1', '15.6', '30.9',
       '24.3', '17.9', '13.4', '24.8', '15.1', '10.1', '22.9', '17.8',
       '22.5', '10.0', '21.2', '8.8', '9.7', '20.2', '29.3', '19.3',
       '12.1', '7.8', '4.9', '6.1', '28.6', '9.6', '12.6', '8.7', '13.0',
       '11.8', '9.5', '20.0', '22.3', '5.7', '20.7', '2.0', '25.3', '8.3',
       '11.1', '4.1', '9.8', '25.4', '11.0', '9.3', '5.1', '10.6', '4.8',
       '23.9', '6.8', '5.0', '24.2', '5.6', '23.4', '8.0', '11.9', '19.5',
       '12.9'], dtype=object)

In [20]:
df['Value_type'].unique() #drop

array(['%'], dtype=object)

In [21]:
df['Sample size'].unique() #drop

array(['35371', '2790', '5254', '5826', '6087', '5689', '5296', '4429',
       '16176', '19195', '11760', '8300', '12620', '1322', '1200', '169',
       '4618', '7155', '5161', '3778', '2670', '5588', '6401', '1824',
       '959', '30073', '322', '12', '1573', '120', '46', '80', '93',
       '767', '398', '138', '352', '564', '350', '45', '88', '148', '339',
       '236', '31980', '33350', '2409', '4785', '5436', '5645', '5336',
       '5384', '4355', '15030', '18320', '11298', '7690', '11823', '1310',
       '1027', '202', '3965', '6724', '4972', '3744', '2672', '5580',
       '5688', '1649', '28476', '299', '10', '1427', '98', '90', '76',
       '679', '388', '123', '136', '323', '529', '316', '57', '83', '151',
       '902', '309', '234', '30212', '93852', '6167', '1837', '1991',
       '2339', '11548', '1838', '1822', '3657', '2236', '1995', '8749',
       '1938', '1912', '3061', '8881', '1866', '1692', '1878', '1689',
       '1756', '8625', '1997', '1826', '1833', '2969', '11280', '1719',
       '1728', '2452', '1702', '1846', '7105', '12468', '2835', '2495',
       '1725', '2357', '3056', '11033', '2363', '2905', '1851', '2046',
       '1868', '7996', '1951', '2039', '1975', '2031', '1043', '26', '6',
       '7', '13', '84', '4', '43', '18', '54', '8', '11', '31', '89',
       '16', '9', '22', '24', '103', '79', '135', '27', '25', '20', '294',
       '29', '21', '14', '35', '1', '17', '5395', '109', '478', '283',
       '118', '38', '402', '307', '435', '70', '704', '56', '37', '535',
       '468', '180', '69', '67', '115', '1883', '630', '87', '172', '19',
       '34', '114', '32', '55', '2830', '28', '2', '171', '5', '141',
       '96', '163', '39', '59', '44', '291', '254', '267', '33', '52',
       '1446', '204', '78', '41', '3', '825', '71', '23', '64', '48',
       '60', '356', '81', '30', '10093', '183', '65', '804', '40', '507',
       '140', '664', '463', '728', '92', '303', '142', '150', '1162',
       '86', '104', '916', '930', '318', '156', '42', '68', '3979',
       '1050', '139', '157', '153', '373', '129', '63', '220', '113',
       '6333', '12695', '14070', '16191', '15594', '16174', '12795',
       '215', '274', '225', '152', '582', '1372', '1540', '822', '546',
       '359', '174', '264', '723', '656', '340', '168', '133', '191',
       '226', '128', '62', '42755', '51097', '438', '605', '2651', '2744',
       '1179', '1651', '429', '396', '32782', '22252', '32947', '2864',
       '2380', '627', '368', '212', '300', '53', '1748', '1079', '1461',
       '620', '433', '829', '488', '1041', '216', '221', '149', '222',
       '108', '9863', '18551', '14201', '10852', '7691', '17166', '15526',
       '193', '144', '105', '75', '466', '922', '669', '521', '399',
       '967', '1451', '415', '609', '420', '293', '178', '282', '633',
       '126', '101', '106', '181', '35324', '29993', '287', '15', '1672',
       '94', '91', '722', '428', '173', '332', '530', '311', '61', '155',
       '1790', '2514', '5003', '5562', '6131', '5686', '5863', '4565',
       '16068', '19256', '12251', '8216', '12288', '1236', '1093', '240',
       '3690', '6842', '5284', '4067', '2767', '6330', '6329', '364',
       '242', '31967', '29366', '296', '1990', '121', '772', '498', '182',
       '336', '629', '208', '35420', '1956', '1026', '2588', '5309',
       '5816', '6196', '5664', '5592', '4255', '16437', '18983', '12440',
       '8293', '11883', '1340', '1140', '324', '3361', '6894', '5277',
       '4043', '2959', '6808', '5986', '370', '349', '31673', '28714',
       '295', '1979', '795', '495', '165', '376', '581', '100', '200',
       '34715', '2013', '968', '375', '31003', '91345', '5880', '1814',
       '1924', '2142', '12087', '1900', '1888', '3738', '2194', '2367',
       '8560', '1901', '1794', '1873', '2992', '8472', '1768', '1459',
       '1805', '1731', '1709', '8073', '1737', '1688', '1659', '2989',
       '10747', '1463', '1685', '2463', '1587', '1796', '1753', '7734',
       '12310', '2817', '2469', '1762', '2413', '2849', '10090', '2337',
       '2660', '1774', '1593', '1726', '7392', '1877', '1828', '1882',
       '1163', '99', '132', '329', '51', '6156', '365', '425', '224',
       '82', '802', '647', '562', '179', '116', '2166', '691', '85',
       '206', '58', '111', '2855', '255', '1460', '862', '73', '47', '50',
       '49', '66', '383', '11036', '941', '604', '162', '739', '122',
       '531', '754', '97', '306', '1257', '1010', '1015', '315', '190',
       '231', '4338', '1149', '197', '475', '125', '207', '5393', '12588',
       '13469', '15193', '15577', '15720', '13405', '213', '256', '187',
       '603', '1386', '1867', '615', '408', '251', '280', '492', '699',
       '654', '386', '42087', '49258', '514', '649', '3076', '3080',
       '1158', '1697', '426', '436', '33511', '21464', '31159', '2335',
       '2077', '799', '421', '195', '360', '124', '2187', '1225', '1544',
       '652', '453', '95', '884', '447', '1053', '198', '219', '238',
       '28040', '304', '2070', '110', '787', '510', '185', '381', '585',
       '189', '34163', '2078', '372', '285', '30424', '27,633', '258',
       '2,017', '117', '810', '485', '196', '591', '298', '167', '33,735',
       '2,065', '957', '416', '277', '29,919'], dtype=object)

In [22]:
df['Standard Error'].unique() #drop

array(['0.199790931', '0.820736685', '0.561916822', '0.52167067',
       '0.486138089', '0.45250823', '0.415780146', '0.356312388',
       '0.297811508', '0.26909033', '0.348103756', '0.405835236',
       '0.327033381', '1.046563497', '1.225378962', '2.433097301',
       '0.545749574', '0.430977105', '0.516112217', '0.61913227',
       '0.746810324', '0.526638956', '0.456920034', '0.912019804',
       '1.209126606', '0.215040144', '2.25535656', '?', '0.952518087',
       '4.140182765', '4.743250525', '4.704626098', '1.452502832',
       '2.018208653', '3.204030638', '2.713511211', '1.912777767',
       '1.545274508', '2.023337628', '3.184672775', '3.013270694',
       '2.41651735', '2.242920738', '0.208937867', '0.200457491',
       '0.845807622', '0.583099364', '0.530648107', '0.497384606',
       '0.452841129', '0.3908573', '0.358232402', '0.303990198',
       '0.265609166', '0.345721588', '0.409431867', '0.332577433',
       '1.061708627', '1.221589432', '2.703598011', '0.593650979',
       '0.417709081', '0.504958307', '0.621593614', '0.721564307',
       '0.515002185', '0.471428498', '0.897198415', '0.214502657',
       '2.186647267', '1.03060759', '4.589073892', '4.729316826',
       '4.813271586', '1.346850049', '2.100677545', '2.884504721',
       '2.720578537', '1.924873229', '1.695767443', '1.991861793',
       '5.919441412', '3.336268884', '3.089644764', '1.279868696',
       '2.55083782', '2.318519033', '0.209442914', '0.115586737',
       '0.431245619', '0.865182305', '0.778529673', '0.663768675',
       '0.316114739', '0.728189515', '0.751624614', '0.580719',
       '0.772055026', '0.7092019', '0.380552911', '0.882218336',
       '0.657215543', '0.878738984', '0.628352934', '0.390540476',
       '0.780872526', '0.980726679', '0.796997969', '0.969465694',
       '0.853230747', '0.379700074', '0.74466536', '0.835102941',
       '0.747251113', '0.698591578', '0.335298347', '0.914881545',
       '0.882536111', '0.742273854', '0.83949905', '0.769181824',
       '0.800653412', '0.44931856', '0.323309581', '0.655533953',
       '0.757868038', '0.828410658', '0.753689356', '0.654885748',
       '0.312051764', '0.717604413', '0.575364626', '0.768987802',
       '0.661193158', '0.772560722', '0.391129872', '0.644057979',
       '0.883986314', '0.65039817', '0.832523043', '1.304881176',
       '3.483220508', '4.98598782', '4.723939974', '4.23998642',
       '4.83062491', '3.915176606', '2.543626808', '3.387640072',
       '4.020551936', '0.502737252', '3.703690238', '5.086013103',
       '1.646169134', '2.185464373', '3.223632392', '1.930669461',
       '5.173132373', '2.224070021', '1.932950022', '4.097299654',
       '2.721348858', '4.212066386', '5.249208756', '1.330100291',
       '4.29825163', '3.613684685', '1.556622648', '1.774377205',
       '2.997299399', '4.960410914', '4.39284853', '3.400434787',
       '0.844630454', '1.388171803', '4.078894845', '4.293182065',
       '3.977306062', '2.853663115', '1.945389439', '2.718273509',
       '4.940509892', '4.111308164', '5.961451963', '0.718096144',
       '2.507741081', '2.795009389', '3.25927663', '4.178236623',
       '3.393451278', '5.066045385', '2.457316153', '2.552882095',
       '2.516397067', '4.067851335', '6.509239819', '4.632939399',
       '0.96719254', '2.872384526', '3.578941834', '4.551466928',
       '1.254727587', '4.590518933', '3.144186867', '5.116483175',
       '2.505308264', '1.934296242', '4.356474399', '0.375929945',
       '2.907235645', '5.346144409', '3.937471788', '1.248438678',
       '1.593274426', '3.098691193', '3.68278474', '1.462807648',
       '3.337023888', '1.809341236', '1.525418139', '3.761191456',
       '2.43424477', '3.03646071', '3.578567764', '1.110388941',
       '4.161641494', '3.415168663', '4.965002518', '1.254665591',
       '1.305371837', '2.26823778', '3.383385559', '3.37455567',
       '2.607795264', '5.056739756', '0.592485741', '1.142350033',
       '3.326489834', '3.286084798', '2.958337829', '3.289779411',
       '1.598490432', '1.891550588', '3.419370463', '4.238738843',
       '4.321884284', '4.598053642', '2.789540533', '6.198315247',
       '3.867196967', '0.51829654', '0.346212638', '0.318486771',
       '0.289721034', '0.262998054', '0.218439237', '0.197868192',
       '3.009435271', '2.613109245', '2.806418294', '3.370448246',
       '3.52631915', '2.220265236', '1.476360984', '1.051980685',
       '0.932182147', '1.34197859', '1.451624272', '1.841024827',
       '2.173811311', '2.592726943', '1.721337782', '1.399929424',
       '1.519421625', '1.793698963', '1.758004572', '2.247457869',
       '3.171713224', '2.541288477', '2.755610926', '3.083663938',
       '3.733236888', '3.369982097', '0.17357293', '0.154586083',
       '1.938292789', '1.764487789', '0.718383356', '0.703627427',
       '1.122959408', '0.9324818', '1.796602025', '1.728140824',
       '0.195493528', '0.232638848', '0.192465166', '0.694299997',
       '0.827373555', '1.242341579', '2.33833031', '2.72887041',
       '2.376151755', '5.310281957', '3.983279323', '0.932033726',
       '1.147711926', '0.942598675', '1.412418825', '1.657313064',
       '3.398302052', '1.387438085', '1.695603618', '1.179908185',
       '2.087414357', '2.693829414', '2.582252833', '2.965809986',
       '2.462736964', '3.709751756', '2.517627486', '0.356674424',
       '0.249049906', '0.291280955', '0.34582605', '0.413349856',
       '0.284589369', '0.272112404', '3.635576167', '2.796702572',
       '3.258356307', '4.509953075', '4.955366292', '3.202128533',
       '2.85048949', '1.749676366', '1.189310174', '1.481793093',
       '1.637941118', '1.911454666', '1.279602514', '0.894560517',
       '1.808011466', '1.535697907', '1.906619902', '2.140441329',
       '2.992055243', '2.570956943', '1.425806381', '3.187817388',
       '2.248979434', '3.823283476', '4.730073258', '5.307431982',
       '3.59498469', '2.61734393', '0.191148408', '0.203760903',
       '2.231977739', '0.906315833', '3.477131529', '3.795261434',
       '4.593978014', '1.420296292', '2.018909566', '3.086573374',
       '2.815684261', '1.975712413', '1.686778611', '2.066621576',
       '5.915177642', '3.222873075', '3.283767904', '0.911804073',
       '0.818023749', '0.561081733', '0.501353515', '0.474240975',
       '0.44262223', '0.369288497', '0.337981802', '0.285924065',
       '0.256662968', '0.328829478', '0.386618385', '0.318583608',
       '0.9893728', '1.205783319', '2.182889647', '0.578580729',
       '0.417428802', '0.487271117', '0.567198908', '0.707398312',
       '0.475622807', '0.43554197', '1.295734266', '2.150528489',
       '2.414398194', '0.198264016', '0.20015051', '1.716749661',
       '0.78344762', '3.649984549', '4.565370105', '3.697083376',
       '4.850412971', '1.272837923', '1.630221547', '3.044156212',
       '2.51512954', '1.807297767', '1.498696102', '1.961423543',
       '4.677093513', '3.233458905', '2.259068039', '0.183990524',
       '0.806232889', '1.16268286', '0.780023899', '0.507734438',
       '0.481828902', '0.467574914', '0.431507442', '0.359042014',
       '0.329437405', '0.271881857', '0.249707281', '0.311444966',
       '0.375418119', '0.312320032', '0.979068742', '1.143636349',
       '1.325078228', '0.5967829', '0.410231993', '0.475341521',
       '0.545513676', '0.648650793', '0.446601311', '0.41288984',
       '2.091211556', '1.886896213', '0.192792839', '0.20462181',
       '1.902314669', '0.806736493', '3.313715319', '4.640497508',
       '4.845846395', '4.276715175', '1.287442089', '1.733039708',
       '2.844268943', '2.81171007', '1.813797794', '1.469849436',
       '2.043476605', '3.999482984', '4.033535855', '2.508872956',
       '0.188385032', '0.823670997', '1.145148966', '2.134221325',
       '2.154133535', '0.19737654', '0.1144687797', '0.3848615699',
       '0.7780920872', '0.6431182998', '0.6170270529', '0.3062900327',
       '0.7025662367', '0.6535349134', '0.5962118255', '0.6882783227',
       '0.6969829652', '0.376172749', '0.7871000801', '0.7294699765',
       '0.8167231723', '0.6595275479', '0.3907166315', '0.8033413157',
       '1.038447633', '0.8111219678', '0.8654113628', '0.8719924163',
       '0.3686637667', '0.7019648145', '0.8284294741', '0.7853147591',
       '0.6485578033', '0.3407760936', '0.9970692001', '0.9725175725',
       '0.7021366282', '0.8770994628', '0.7527788627', '0.7759763877',
       '0.4388135459', '0.3185889629', '0.6809144326', '0.7190082775',
       '0.8488392937', '0.7373781624', '0.622143706', '0.3306275941',
       '0.7160079308', '0.602305378', '0.8488272262', '0.8545155896',
       '0.7443460818', '0.3600111864', '0.5633739299', '0.7750561807',
       '0.6214566612', '0.7875408456', '1.171973054', '3.22353131',
       '5.219483285', '4.090754912', '4.898107182', '4.181457159',
       '3.251748014', '5.02479919', '3.43259653', '2.337925951',
       '3.360018822', '4.649988175', '4.243726238', '0.458983226',
       '2.389468866', '4.325075168', '2.77428741', '1.535465424',
       '2.057102038', '2.73631549', '5.395091342', '1.581853933',
       '3.083229976', '1.881343932', '1.963820034', '1.815148051',
       '2.90640398', '4.955523821', '1.321696174', '3.861892779',
       '4.440580667', '1.507955522', '1.631230561', '2.978979951',
       '4.025908117', '3.905045776', '3.392791849', '0.7625459437',
       '1.308504097', '3.897319739', '4.123799677', '3.147971688',
       '3.96802558', '1.789252023', '1.90599196', '2.591193099',
       '3.682729767', '3.310965887', '4.932431636', '0.6714197683',
       '2.565196263', '3.008463713', '3.004373624', '3.926036046',
       '3.004162009', '5.92372033', '1.86256884', '2.008020587',
       '2.529209605', '4.568826457', '4.868561754', '5.183989136',
       '0.939114948', '2.195572563', '3.139638357', '5.111125522',
       '1.237629612', '4.488012046', '5.752096603', '4.422259774',
       '5.748091922', '4.419627866', '1.782032922', '4.076524903',
       '4.631826062', '0.3469742763', '1.901242036', '3.695232877',
       '2.148671493', '1.18483152', '1.56850818', '2.422864569',
       '3.049652778', '1.299236306', '4.719289351', '2.842623948',
       '1.580609778', '1.463763116', '2.164728454', '2.439496437',
       '5.520434917', '3.417962105', '3.215424617', '1.033886851',
       '2.856762721', '3.684371901', '2.740023229', '1.192905549',
       '1.224837935', '2.272544524', '3.296181582', '2.828414088',
       '2.527458957', '3.521913544', '0.5498304496', '1.044626659',
       '2.85653235', '3.167585782', '2.56989862', '2.922641739',
       '1.497040391', '1.651187561', '2.655426917', '3.945800174',
       '4.357605336', '4.900263969', '3.768014191', '2.571150764',
       '5.348518676', '3.79737004', '0.5458394476', '0.3362293298',
       '0.3152246686', '0.2901391784', '0.2692633538', '0.2264660138',
       '0.1982753215', '2.81179572', '2.285386173', '2.58848161',
       '2.92327728', '3.235260075', '4.553979601', '1.435130908',
       '0.9888752238', '0.8636857188', '1.168884744', '1.338797958',
       '1.427926922', '1.988477041', '2.12131079', '1.792098078',
       '1.369477803', '1.402576932', '1.752526592', '2.368584177',
       '1.839185829', '3.750335498', '2.520694104', '2.331430117',
       '3.068284834', '3.893804194', '0.1704891603', '0.154218953',
       '1.803528692', '1.531380966', '0.6476749545', '0.6507263288',
       '1.034464221', '0.8838416952', '1.708710984', '1.793026496',
       '0.1901943689', '0.2323294641', '0.1921997982', '0.7179726643',
       '0.8763756832', '1.02977647', '2.063150048', '2.645906119',
       '2.142179513', '5.986653863', '3.206297107', '0.8143383608',
       '1.065087095', '0.8695958097', '1.307244592', '1.627350204',
       '2.789217773', '1.273557638', '1.786508336', '1.088552897',
       '1.698477773', '2.423085918', '3.425487171', '2.324509447',
       '3.108327344', '2.275425822', '3.195688514', '3.753246411',
       '0.210519625', '1.925791509', '0.829182522', '3.794395786',
       '3.454657175', '4.15104351', '1.250266573', '1.650772797',
       '2.111468736', '2.531779001', '1.892386088', '1.56692071',
       '2.171700623', '3.580040249', '4.130123612', '2.280622425',
       '0.192508577', '0.779317231', '1.213381593', '2.021157561',
       '2.09156546', '0.203269737', '0.2005604508', '1.992520601',
       '0.784452301', '3.89153384', '5.121463942', '3.224012978',
       '3.724490832', '1.264528397', '1.757300353', '2.514807075',
       '2.102751385', '1.655761397', '1.426899804', '2.071819884',
       '4.22401826', '3.582820514', '2.721665837', '0.1845886483',
       '0.7834418396', '1.13169023', '1.944139815', '2.176970403',
       '0.1937211743'], dtype=object)

In [23]:
df['Lower CI'].unique() #drop

array(['16.54', '23.16', '19.68', '18.53', '16.28', '12.4', '9.22',
       '5.14', '16.66', '16.05', '16.39', '15.39', '15.32', '15.1',
       '20.7', '5.55', '15.18', '14.77', '15.24', '16.11', '16.45',
       '17.94', '14.81', '16.5', '14.02', '16.19', '15.33', '?', '15.01',
       '19.21', '12.38', '17.92', '16.89', '15.61', '9.55', '8.18',
       '10.69', '12.41', '12.57', '2.42', '8.91', '21.5', '8.49', '15.47',
       '20.14', '19.08', '17.62', '11.44', '8.12', '5.1', '15.95',
       '14.63', '15.28', '14.24', '14.69', '15.51', '16.02', '11.65',
       '15.4', '12.59', '13.71', '16.08', '15', '16.85', '13.74', '13.65',
       '12.14', '16.2', '18.32', '16.81', '11.49', '11.22', '16.99',
       '4.79', '4.96', '9.37', '14.73', '10.01', '13.66', '2.45', '10.2',
       '21.88', '9.3', '15.23', '14.47', '12.37', '14.76', '12.51',
       '10.37', '12.69', '9.52', '10.18', '13.27', '14.32', '9.92',
       '14.14', '15.57', '7.93', '12.83', '11.56', '18.54', '12.28',
       '17.89', '13.38', '13.81', '13.34', '10.11', '16.21', '14.25',
       '15.63', '14.3', '14.65', '12.29', '10.97', '12.03', '16.48',
       '12.91', '15.85', '12.1', '14.45', '14.23', '11.63', '12.77',
       '9.65', '11', '8.63', '11.27', '13.5', '7.62', '18.16', '20.53',
       '4.69', '6.2', '18.07', '16.23', '14.91', '21.57', '20.56',
       '12.53', '9.29', '15.3', '11.04', '6.82', '12.06', '11.83', '7.99',
       '14.57', '8.64', '14.31', '16.64', '2.69', '17.24', '2.48',
       '15.81', '11.97', '3.29', '4.09', '12.26', '14.48', '14.41',
       '11.95', '6.65', '9.13', '14.33', '11.42', '7.81', '9.56', '8.68',
       '0.2', '10.07', '9.61', '7.02', '18', '14.96', '16.33', '7.34',
       '6.5', '13.1', '18.39', '8.67', '17.93', '15.93', '16.62', '12.39',
       '20.02', '5.19', '15.79', '11.34', '12.88', '9.32', '0.97',
       '11.26', '0', '10.43', '13.43', '14.18', '9.75', '12.24', '12.05',
       '9.93', '6.45', '14.28', '9.35', '15.08', '18.62', '8.01', '18.69',
       '9.54', '18.92', '15.15', '10.05', '7.43', '6.81', '17.19',
       '16.16', '13.8', '16.49', '11.53', '12.5', '15.62', '14.15',
       '12.47', '15.19', '10.13', '9.36', '11.11', '12.15', '11.81',
       '3.04', '16.46', '19.18', '13.96', '20.72', '18.04', '15.65',
       '11.78', '8', '4.9', '20.59', '19.8', '17.52', '15.59', '5.93',
       '12.01', '16.61', '14.09', '15.44', '10.42', '10.57', '4.78',
       '17.99', '16.92', '14.35', '8.99', '2.05', '2.84', '5.52', '9.43',
       '16.6', '8.14', '6.8', '1.02', '14.85', '13.93', '16.97', '21.71',
       '14.95', '14.84', '15.97', '15.55', '13.08', '10.32', '13.55',
       '13.85', '18.87', '8.42', '23.33', '16.95', '7.88', '13.04',
       '16.84', '13.48', '11.69', '10.55', '0.02', '17.21', '13.56',
       '15.27', '6.43', '14.78', '12.9', '9.7', '11.21', '10.89', '3.21',
       '14.01', '12.78', '13.44', '14.75', '16.13', '12.72', '17.91',
       '13.05', '12.45', '22.07', '20.9', '13.62', '13.09', '14.99',
       '13.59', '13.97', '17.22', '11.66', '12.64', '14.37', '15.07',
       '14.03', '19.74', '8.83', '5.72', '10.51', '7.42', '9.34', '14.1',
       '12.04', '12.36', '7.22', '15.12', '14.36', '17.77', '7.9', '9.79',
       '10.65', '14.54', '10.91', '2.47', '13.49', '19.48', '18.27',
       '11.73', '4.72', '14.88', '14.94', '13.86', '11.75', '16.98',
       '8.04', '12.85', '12.93', '15.56', '16.37', '11.32', '14.27',
       '13.15', '5.62', '11.62', '2.75', '17.86', '11.87', '12.13',
       '7.36', '8.3', '9.66', '6.76', '13.9', '17.75', '15.17', '15.06',
       '6.98', '4.08', '13.51', '13.13', '13.3', '12.63', '12.65', '2.94',
       '12.43', '12.7', '10.56', '15.38', '10.1', '13.18', '7.68',
       '13.29', '7.82', '5.27', '15.87', '11.25', '8.81', '2.17', '8.87',
       '13.95', '14.38', '12.23', '13.6323319', '8.733145023',
       '10.72991025', '7.205048226', '7.506181138', '12.31915118',
       '8.823377974', '7.309267368', '14.37405431', '10.16281184',
       '11.61635903', '13.21664592', '11.78557168', '8.973153906',
       '12.71467561', '13.82870956', '14.34389537', '11.24581082',
       '17.11659412', '11.86439988', '13.27175275', '13.30046135',
       '11.67927055', '7.801657532', '11.42458511', '9.722967925',
       '13.22200027', '13.81532539', '15.31972734', '17.6071055',
       '12.49120115', '12.17233927', '9.729465739', '10.16898673',
       '17.17543305', '13.88758776', '13.84543522', '13.32898541',
       '12.92605279', '13.79848731', '11.15680216', '11.84569169',
       '12.23414802', '9.403955906', '13.04902488', '11.42795361',
       '8.959250681', '9.885744697', '4.776075326', '11.13029446',
       '6.182565988', '11.64092563', '17.20029611', '6.14969453',
       '6.947994713', '9.658642832', '3.430358909', '12.43389136',
       '4.509589318', '6.795631046', '11.190868', '18.01120685',
       '14.70942102', '1.683311965', '7.750291456', '14.23412607',
       '3.418729627', '4.519073468', '12.77009359', '13.64144998',
       '4.780519137', '6.37002056', '9.82483036', '10.81736153',
       '16.03915223', '18.5099138', '16.29220991', '13.74017729',
       '7.601204506', '14.37888475', '14.46844372', '12.80243978',
       '15.63368665', '4.825072797', '10.15989169', '12.98544285',
       '10.63353552', '7.400110554', '7.827549854', '6.390544058',
       '6.815904339', '6.923178447', '3.664483363', '1.108409804',
       '6.391342993', '4.312097848', '13.59334395', '7.066524422',
       '8.331073293', '6.264398976', '6.272043723', '13.34532939',
       '11.46832398', '7.192723693', '6.860540935', '14.57605198',
       '14.75003772', '9.552635181', '7.567397406', '12.97206686',
       '7.150481749', '2.332848262', '9.659633257', '12.7430433',
       '7.356571966', '7.390676193', '0.5837078891', '13.01547307',
       '4.808272356', '9.979489317', '5.956627313', '1.326197003',
       '14.95873153', '4.856971639', '7.829405878', '0.003539634302',
       '12.87670702', '14.46705646', '4.943884257', '4.154762168',
       '11.55271517', '2.268660128', '4.401712557', '12.02765111',
       '16.81705859', '18.20562994', '5.771098838', '9.356401132',
       '16.75335885', '13.56293059', '0.1133747276', '8.759938001',
       '14.59449911', '15.8578854', '15.10509311', '16.48216019',
       '12.04239459', '12.04978059', '1.015888107', '14.23124316',
       '12.24205144', '10.16771754', '11.48765468', '9.329923674',
       '8.461251035', '8.591452738', '8.646698889', '3.522750788',
       '1.847990974', '9.437852411', '8.271129358', '10.31396978',
       '6.053941562', '9.66957323', '18.82963695', '16.39265989',
       '15.17587783', '14.37418163', '12.34474498', '8.311907178',
       '5.115103419', '14.82128532', '14.59536826', '15.89869228',
       '13.09143435', '7.870579505', '1.585114063', '11.15541981',
       '13.84124737', '14.69240783', '14.11191052', '9.465504005',
       '5.799159431', '6.496104646', '9.796882151', '15.45537662',
       '12.29642955', '11.8667196', '9.62258739', '5.753829056',
       '1.607577973', '6.858831201', '9.559056405', '11.05954679',
       '9.516699465', '6.257197282', '13.86840705', '13.18905248',
       '16.98130242', '15.12500622', '13.69634701', '13.88929279',
       '12.0591183', '13.65250014', '10.53804917', '12.64242738',
       '13.6670598', '12.82791293', '12.81971738', '12.3065631',
       '17.85899246', '6.924444653', '18.53964516', '10.08943862',
       '15.84142731', '10.6940313', '7.455393669', '15.68563937',
       '14.17304375', '11.45221719', '9.69896219', '10.11232416',
       '1.476381713', '14.35191974', '13.03612053', '12.05257368',
       '2.087025669', '9.455882694', '12.01649467', '8.959398517',
       '9.042860601', '4.42956585', '9.001466051', '14.05', '14.07',
       '4.11', '11.43', '12.8', '5.77', '7.79', '11.85', '13.7', '10.76',
       '0.28', '10.92', '5.69', '14.42', '12.98', '13.52', '13.94',
       '9.68', '12.26601477', '6.898694605', '12.67528438', '16.2098328',
       '5.842730163', '6.585967192', '11.8610284', '12.31583028',
       '14.20819247', '8.139835166', '4.639312024', '8.026941795',
       '10.63423079', '10.18636434', '4.194207999', '8.588759997',
       '8.0605869', '12.8160395', '13.04976733', '11.64024918',
       '14.96998212', '10.42339374', '12.43368257'], dtype=object)

In [24]:
df['Upper CI'].unique() #drop

array(['17.48329817', '27.01789164', '22.32082154', '20.98609175',
       '18.56337501', '14.52528845', '11.17258981', '6.818724567',
       '18.06116414', '17.31477294', '18.0320416', '17.29488373',
       '16.85339713', '20.02666253', '26.45983403', '16.99892678',
       '17.74910013', '16.7934704', '17.66907469', '19.02474792',
       '19.9622769', '20.41372852', '16.96272273', '20.79490225',
       '19.70847197', '17.19877212', '25.94298925', '?', '19.48621257',
       '38.68856734', '34.69623188', '40.05138341', '23.72098995',
       '25.10091868', '24.62208511', '20.94732522', '19.68318174',
       '19.67510614', '22.09183186', '17.39681448', '23.08442515',
       '32.87158005', '19.04336994', '17.26624957', '16.41431678',
       '24.12136141', '21.82357833', '20.11464864', '17.95125012',
       '13.57144701', '9.96213101', '6.7844093', '17.38216193',
       '15.87479991', '16.90702499', '16.16512391', '16.25274801',
       '20.50753138', '21.76967887', '24.36679046', '18.19011083',
       '14.55731501', '16.08459852', '19.0058879', '18.39832486',
       '19.27334619', '15.95383696', '17.86677739', '16.01132747',
       '22.42673626', '21.05028845', '39.90907506', '39.05480966',
       '34.13141123', '17.55472393', '26.8727389', '18.35786945',
       '17.75440229', '18.42687571', '22.70277419', '19.38236944',
       '41.50083665', '18.14611445', '24.73119666', '21.03422293',
       '33.87702635', '20.20935077', '16.21856253', '14.92627095',
       '14.06065437', '18.1557626', '15.56429873', '12.96741555',
       '13.9313667', '12.37111013', '13.12373678', '15.54701334',
       '17.34906831', '12.7043773', '15.63227825', '19.02643086',
       '10.50928444', '19.72877237', '15.2950541', '16.92091281',
       '14.62272924', '22.38254917', '15.40850518', '21.69137662',
       '16.72054767', '15.29685349', '14.14184614', '16.61461991',
       '13.03959802', '18.94951773', '15.55951801', '19.21736648',
       '17.75753707', '17.55765335', '15.58296163', '13.98651822',
       '15.16924098', '18.23726281', '16.03988144', '15.48358546',
       '18.82103841', '15.3442937', '17.40214198', '16.79652122',
       '12.85387729', '15.58529935', '11.90634468', '14.01821085',
       '11.2267846', '14.29750139', '15.03495747', '10.14417805',
       '21.62180857', '10.47600734', '18.5814073', '25.64904842',
       '18.34539328', '25.74966184', '36.58932135', '32.84826307',
       '33.84498879', '36.9219284', '30.53537516', '25.80593289',
       '25.05507398', '17.27420807', '25.56046365', '26.75483223',
       '18.51797967', '20.39664002', '20.62844815', '22.13681835',
       '28.92065942', '23.03142037', '24.21306289', '18.74850109',
       '27.90675037', '18.98786657', '36.38852195', '17.18798214',
       '20.14400575', '18.25580165', '18.35724358', '21.43808472',
       '26.16081551', '31.39912299', '23.86673802', '22.45578942',
       '17.64567325', '16.86029806', '23.80385521', '26.39141058',
       '24.2731367', '11.3846663', '17.70084154', '20.26943434',
       '26.38613772', '34.11918845', '38.33150219', '19.14795302',
       '17.17101895', '17.46020242', '24.73106081', '29.48281983',
       '31.69176521', '28.53238118', '27.56152686', '25.94113999',
       '26.48414836', '28.33596143', '45.53169303', '23.35179502',
       '18.02354361', '27.04877755', '21.3727166', '29.18598647',
       '17.80138943', '27.31419362', '13.29485661', '31.31276428',
       '8.829976357', '19.61483544', '27.51109572', '17.97062526',
       '24.82294089', '35.13642068', '25.18811363', '17.13566262',
       '18.29511859', '22.07732019', '20.88607675', '20.01640022',
       '22.42733496', '22.17323715', '24.59939095', '22.75234004',
       '28.22758801', '21.44426515', '32.94995505', '19.50686133',
       '26.36776817', '20.8188258', '26.27202658', '19.93152773',
       '22.30486684', '25.05321359', '27.05976501', '29.71560967',
       '21.75444452', '32.32139212', '17.94660042', '18.62668359',
       '25.50555746', '28.0742225', '21.72518108', '22.2600425',
       '17.37513379', '19.56919714', '25.21038267', '19.65753086',
       '27.05391347', '24.83546981', '27.39505754', '43.47974684',
       '29.11813545', '22.75355489', '19.40020102', '17.87020981',
       '16.78982268', '12.81408924', '8.855959509', '5.677057318',
       '32.38659487', '30.04112674', '28.5208897', '28.79795115',
       '19.75170673', '7.140775946', '17.80166703', '20.73046233',
       '17.74194644', '20.69824352', '16.11016367', '17.78641398',
       '13.30007053', '28.14978446', '23.67197113', '19.83394111',
       '21.58490155', '16.01766376', '8.939705683', '11.64746714',
       '17.95634062', '19.39309183', '27.40289919', '20.22708392',
       '21.43572873', '14.22734428', '15.52790499', '14.54068609',
       '24.56819301', '28.63134187', '17.76451622', '17.59348013',
       '20.36962602', '19.2022345', '20.12548873', '17.09173483',
       '15.06820274', '14.46009445', '14.60644001', '17.90336722',
       '22.11270197', '13.2906374', '32.49571515', '24.99578626',
       '26.26410948', '28.6993527', '28.65448272', '20.49732139',
       '19.40602038', '17.17887928', '17.22758543', '17.04495386',
       '13.34343145', '22.64966132', '20.20292046', '19.89754395',
       '14.60939346', '25.34221097', '23.02427692', '21.32542898',
       '20.86295828', '25.43283262', '13.07689684', '15.41080852',
       '13.75452439', '14.58310845', '16.00581408', '16.37282657',
       '17.24553579', '13.78589363', '32.16321333', '24.01025233',
       '25.2228028', '39.75197432', '34.05465621', '33.44965309',
       '24.7962214', '20.6665392', '17.74970777', '20.79404361',
       '20.0104463', '21.4634822', '22.23177557', '15.16298593',
       '19.72944167', '20.39472836', '22.54056126', '20.17139546',
       '25.75672551', '29.81942311', '17.96414538', '21.32584612',
       '14.53850671', '25.49937285', '32.20646223', '28.22772217',
       '23.42973028', '19.63264989', '15.67398919', '15.05700036',
       '22.53501197', '18.56671518', '28.719936', '25.07349164',
       '36.73268063', '21.03648766', '27.26259198', '22.4190731',
       '23.0301907', '19.94733565', '22.4707591', '20.62997082',
       '44.79049267', '17.62598924', '28.93775563', '20.33547855',
       '23.32810781', '20.90598301', '17.98337707', '17.6324266',
       '13.81161686', '9.632183686', '6.314237418', '16.22834015',
       '15.51102142', '16.4905576', '15.24529049', '15.35406735',
       '16.40861331', '22.65533569', '18.30484381', '15.79747536',
       '14.81822853', '15.85578989', '16.81468453', '18.26681045',
       '18.43769112', '14.97707994', '21.65317917', '26.48213171',
       '22.67404533', '15.20413683', '14.08955858', '13.69402123',
       '16.08574564', '28.78558334', '24.23002302', '26.06403196',
       '40.67974944', '17.64869879', '19.53407557', '26.44889683',
       '19.19106347', '16.80060112', '20.55207491', '18.88378422',
       '33.21817513', '25.57684476', '17.38582861', '14.3641445',
       '16.845189', '19.37266147', '21.4148149', '17.55834328',
       '17.22511021', '17.25610398', '12.99687398', '8.664747146',
       '5.628307676', '14.79283214', '14.30592217', '14.76940843',
       '14.39744066', '14.1164528', '17.43862341', '20.92524035',
       '9.172183531', '15.30681328', '14.36149488', '14.95636388',
       '15.27106188', '16.0995472', '17.2550544', '12.50660635',
       '25.22124579', '18.9777442', '14.08390433', '14.45707901',
       '16.62647435', '17.08337004', '23.40905228', '27.10107525',
       '40.01879124', '35.98562766', '18.64373844', '22.24367596',
       '24.63282707', '22.03631068', '18.72717618', '18.17572718',
       '20.87665799', '20.98459384', '29.93930704', '20.67145963',
       '14.83406393', '18.2577175', '17.61351633', '26.87875305',
       '21.78120077', '14.51703679', '14.17079304', '10.54353385',
       '14.39005543', '10.23027671', '10.40867639', '13.7599395',
       '12.12824955', '10.3834956', '17.17863473', '13.40047307',
       '14.8949669', '14.98616253', '15.48809045', '12.40458068',
       '16.55654141', '16.93112714', '16.1818264', '15.02472837',
       '22.00145179', '15.67991762', '17.3426478', '17.40231368',
       '13.41346491', '11.10370002', '15.32151736', '13.41708855',
       '16.27281618', '15.41833613', '20.00994086', '22.18182816',
       '15.79405184', '16.29821514', '13.27053751', '13.81917966',
       '19.23961197', '15.38623024', '17.04845671', '16.71120035',
       '16.91899283', '17.26711419', '14.08336615', '13.40096389',
       '15.60224933', '12.2372004', '17.04190815', '15.44759494',
       '12.46065465', '11.57923732', '7.426186292', '14.77615873',
       '9.105898122', '15.34551777', '22.71325735', '21.31318581',
       '31.50044408', '28.90155394', '26.47105509', '32.10346584',
       '19.80581197', '30.43228644', '27.33780208', '29.00881052',
       '30.51494956', '23.55685634', '27.71277968', '16.39318317',
       '14.65879117', '24.86422706', '11.8069352', '19.99292294',
       '23.31805797', '17.6521472', '31.74853023', '17.26587126',
       '13.0008756', '19.66720339', '25.27696167', '6.286791293',
       '32.18163812', '39.60299396', '19.95743609', '17.37735697',
       '28.48969596', '21.47230752', '22.14175228', '26.81556147',
       '34.57155844', '23.19440813', '26.11958455', '16.57245897',
       '16.78873879', '25.73310261', '27.22590353', '21.19860288',
       '25.48149667', '15.33981996', '12.63026954', '10.15352772',
       '18.43197063', '21.96612652', '27.51425627', '16.75170254',
       '19.13320764', '22.4828866', '20.3969725', '24.74011728',
       '27.47690748', '39.33350441', '15.95424751', '16.30626977',
       '26.47345397', '36.24179737', '32.45434967', '31.9528823',
       '17.38966357', '17.47845509', '17.1017071', '33.70236771',
       '18.56485299', '28.46818063', '34.44853861', '21.38601786',
       '40.05449747', '25.59820184', '18.36217218', '25.13260046',
       '23.1143068', '16.59089852', '13.80041418', '25.21178133',
       '10.11089034', '18.45015449', '21.84531894', '16.34103919',
       '18.50032883', '17.66432276', '24.46819723', '17.77341561',
       '19.46283951', '23.70260029', '9.864754294', '29.68102118',
       '31.73922469', '25.43449487', '31.87871625', '18.42633434',
       '13.55158657', '26.09122342', '11.42217152', '20.20592681',
       '21.61952304', '25.79514255', '31.98739835', '25.34725446',
       '23.93894752', '17.58296942', '16.81764559', '17.15597525',
       '23.60484571', '26.3879782', '21.41872678', '22.20935777',
       '15.63353074', '16.41388517', '16.013879', '18.16611612',
       '22.34616647', '32.48869412', '25.99586811', '22.40866298',
       '31.21337341', '27.5324019', '21.39726571', '17.97428265',
       '16.65869467', '15.73899632', '13.61135979', '9.377203307',
       '6.047790531', '28.04797239', '25.34582482', '28.07490977',
       '26.84253067', '23.0892429', '23.0070341', '17.9062756',
       '18.49291642', '18.75518545', '19.61034435', '15.7632096',
       '12.51612767', '15.84990065', '19.77552811', '23.88540597',
       '18.73845314', '18.46444148', '17.86647248', '16.89564903',
       '10.25910811', '24.50040938', '21.41640147', '22.02659406',
       '23.94991133', '24.57365221', '14.67038806', '13.91449843',
       '25.46510139', '22.32862229', '16.74300999', '16.95030944',
       '16.92523799', '17.81009148', '18.57582564', '21.07682402',
       '14.56173411', '13.92079073', '13.72382523', '15.68390652',
       '21.98146367', '11.76851317', '28.24470299', '22.53578101',
       '25.91823974', '38.85525108', '22.53781526', '19.51628702',
       '19.18321344', '15.54279588', '15.84824075', '17.76737952',
       '14.59686212', '20.34273486', '21.43985574', '17.1731265',
       '10.07666511', '20.85407885', '14.85528714', '22.95098711',
       '23.58097034', '19.74646367', '19.46208462', '26.65673717',
       '15.03659018', '17.48133849', '19.13584051', '31.92229015',
       '20.36451493', '35.1752053', '17.30654271', '20.56259244',
       '15.70467357', '19.7032947', '20.75235599', '21.07122419',
       '20.97147008', '17.12418545', '30.34672912', '16.41577756',
       '15.32537606', '16.64833889', '19.22701294', '23.44320483',
       '19.51843162', '15.22297249', '13.20945113', '16.27151151',
       '16.36534801', '34.51560799', '29.93409655', '21.75172424',
       '29.38103327', '18.26417186', '22.47453333', '19.96948765',
       '14.53065454', '15.81564341', '17.34636747', '19.93220507',
       '24.06398989', '25.44234769', '20.863303', '13.6843445',
       '16.73507774', '16.96372002', '24.11521581', '20.66386252',
       '13.34494698'], dtype=object)

In [25]:
# Removing unnecessary variables.
df.drop(['Measure','Value_type', 'Sample size','Standard Error','Lower CI','Upper CI','Ethnicity_type','Time_type','Geography_type','Geography code'], axis= 1, inplace= True)

In [27]:
df = df.rename(columns={'Time': 'Year', 'Geography':'Region'})

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Ethnicity                      1183 non-null   object
 1   Year                           1183 non-null   object
 2   Region                         1183 non-null   object
 3   Gender                         1183 non-null   object
 4   Age                            1183 non-null   object
 5   Socio-economic classification  1183 non-null   object
 6   Household income               1183 non-null   object
 7   Value                          1183 non-null   object
dtypes: object(8)
memory usage: 74.1+ KB

In [30]:
# save dataset.
df.to_csv(r'//content/drive/MyDrive/cleaned_data_crime.csv', index=False)